@import url('https://fonts.googleapis.com/css2?family=Clarity+City:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clarity+City:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --primary-font: "Clarity City", sans-serif;
    --secondary-font: "Lora", serif;

    --base-color: #f5f5f5;
    --text-color:#000000;
    --primary-color: #ffc06e;
    --secondary-color: #8D8DFF;

    --color1: #f9f6f3;
    --color2: #f3f7f9;
    --color3: #f6f3f9;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--primary-font);
    background-color: var(--base-color);
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
    color: var(--text-color);
}

nav{
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child{
    margin-right: auto;
    font-family: Clarity City, Lora;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover{
    text-decoration: underline;
}

header, section{
    margin:2em auto;
    width:min(75em, 100%);
    background-color: var(--color1);
    padding: min(2em, 15%);
    border-radius: 1em;

}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 2em;
}

header img{
    max-width:100%;
    border-radius: 1em;
    object-fit: cover;
    object-position:bottom;

}

.text-container{
    flex:0 1 34em
}

h1{
    font-size: 2.5em;
}

.text-container p{
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.cta-button{
    display: inline-block;
    padding: .75em 1.5em;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: .5em;
}

